/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.credentials
.lein/
/infra
!/infra/docker-compose.yml
.idea/
.clj-kondo/
.lsp/
**/.venv

__pycache__/

*.pyc
*.pyo

*.pyd
*.py[co]